@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply text-center;
    @apply my-8;
  }

  h2 {
    @apply text-4xl;
    @apply text-center;
    @apply my-4;
  }

  h3 {
    @apply text-3xl;
    @apply text-center;
    @apply my-4;
  }

  h4 {
    @apply text-2xl;
    @apply text-center;
    @apply my-4;
  }

  h5 {
    @apply text-xl;
    @apply text-center;
  }

  h6 {
    @apply text-lg;
    @apply text-center;
    @apply my-4;
  }

  p {
    @apply text-base;
    @apply my-4;
  }
}

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  background: url("../public/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
  color: white;
}

section {
  min-height: 100vh;
  margin: 10rem 0;
}

section:first-child {
  min-height: calc(100vh - 56px);
  margin: 56px 0 0 0;
}

hr {
  margin: 1rem 0;
}

header {
  position: fixed;
  width: 100%;
  max-width: inherit;
}