@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply text-center;
    @apply my-8;
  }

  h2 {
    @apply text-4xl;
    @apply text-center;
    @apply my-4;
  }

  h3 {
    @apply text-3xl;
    @apply text-center;
    @apply my-4;
  }

  h4 {
    @apply text-2xl;
    @apply text-center;
    @apply my-4;
  }

  h5 {
    @apply text-xl;
    @apply text-center;
  }

  h6 {
    @apply text-lg;
    @apply text-center;
    @apply my-4;
  }

  p {
    @apply text-base;
    @apply my-4;
  }
}

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #8067ff #00001a;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #00001a;
}

*::-webkit-scrollbar-thumb {
  background-color: #8067ff;
  border-radius: 20px;
  border: 3px solid #8067ff;
}

html,
body {
  /* overflow-x: hidden; */
}

body {
  background: url("../public/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
  color: white;
}

section {
  min-height: 100vh;
  margin: 10rem 0;
}

section:first-child {
  min-height: calc(100vh - 56px);
  margin: 56px 0 0 0;
}

hr {
  margin: 1rem 0;
}

header {
  position: fixed;
  width: 100vw;
}

.hideScrollbar {
  overflow: hidden;
}